@import "variables", "mixins";
footer{
    // background-color: $blanco;
    text-align: center;
    @include pantalla(md){
        display: grid;
        grid-template: repeat(3,auto)/repeat(2, auto);
        grid-template-areas:
        "info menuF"
        "footer footer"
        "by by";
        align-items: center;
    }
}
.LaFortaleza{
    display: flex;
    align-items: center;
    flex-direction: column;
    @include pantalla(xs){
        padding-top: 10rem;
        color: $verde-principal;
        
    };
    @include pantalla(md){
        padding-top: 20rem;
        grid-area: info ;
        margin-left: 4rem;
    }

    #logoFooter{
        @include pantalla(xs){
            width: 9rem;
        };
        @include pantalla(md){
            width: 7rem;
        };
    }
    .p6{
        @include pantalla(xs){
            font-size: 1.2rem;
            padding:1rem 0;
        };
        @include pantalla(md){
            font-size: 1.2rem;
        };
    }
    .p7{
        @include pantalla(xs){
            font-size:1rem;
            padding: .5rem 0 4rem; 
        };  
        @include pantalla(md){
            font-size: 1.1rem;
        } 
    }
}
.menu{
    
    @include pantalla(xs){
        padding-bottom: 2rem;
    };
    @include pantalla(md){
        padding-top: 20rem;
        grid-area: menuF;
        margin-right: 6rem;
        border-left: 1px solid $verde-principal
    };
    
    li a{
        @include pantalla(xs){
            font-size: 1rem;
            font-weight: 200;
            color: $naranja-oscuro;
            text-decoration: none;
            line-height: 2rem;
        };
         @include pantalla(md){
            line-height: 2.8rem;
            font-size: 1.1rem;
        }
    }
    li a:active{
        color: $naranja-oscuro;
    }
    li a:hover{
        // font-size: 1.1em;
        color: $verde-principal;
    }
}
.redesSociales{
    background-color: $verde-principal;
    padding: 13px;     
    @include pantalla(md){
        grid-area: footer;
    }
    a{
        text-decoration: none;
    }
    i{
        color: $verde-dark;
        font-size: 18px;
        text-decoration: none;
        padding: 15px; 
        @include pantalla(xl){
            margin-right: 60px;
        }  
    }
    i:hover{
        color: $naranja-oscuro;
        opacity: 0.7;
    }
}
.linea2{
    display: flex;
    text-align: center;
    height: 1px;
    width: 30%;
    background-color: $naranja-oscuro;
}
.by{
    background-color: $verde-principal;
    grid-area: by;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $naranja-oscuro;
    font-weight: 300;
    letter-spacing:4px;
    @include pantalla(xs){
        line-height: 1.9rem;
    }
    
    ul li{
        display: inline-block;
        @include pantalla(xs){
            line-height: 1.8rem;
            font-size: 9px;
        }
        @include pantalla(md){
            font-size: 14px;
            line-height: 2.5rem;
        }
        a{
            color: $naranja-oscuro;
            text-decoration: none;
        }
        a:hover{
            color: $verde-dark;
            font-weight: 700;
        }
    }
    
}
.linea3{
    height: 1px;
    width: 37%;
    background-color: $naranja-oscuro;
    margin: 0.5rem 0 1.4rem;
    @include pantalla(xs){
        width: 60%;
    }
    @include pantalla(md){
       width: 37%;
    }
}