@import "variables" ,"mixins";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lexend Deca','Urbanist', sans-serif;
}

body{
    background-color: $verde-dark;    
}

body::-webkit-scrollbar{
    width: 10px;      
}

body::-webkit-scrollbar-thumb{
    background-color: #263d2d;
    border-radius: 50px;    
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #22492e;    
}



img{
    object-fit: cover;
}
header{
    @include pantalla(xs){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    };
    .head{
        @include pantalla(xs){
            background-color: $verde-dark;
            position: absolute;    
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 4px;
            z-index: 2; 
        }
        
        @include pantalla(md){  
            width: 90px;
            height: 90px;
        }       
        @include pantalla(lg){  
            width: 100px;
            height: 100px;
        }       
        // @include pantalla(xl){ 
        //     width: 90rem;
        //     height: 90rem;
        // } 
    }
}
#logo{
    position:absolute;
    @include pantalla(xs){
        padding-top: 6%;
        margin-left: 8%;
        width:3.1rem;
        display: flex;
        z-index: 100;
    }
    @include pantalla(md){
        width: 80px;  
        padding-top: 5%;
        margin-left:5%; 
    }
    @include pantalla(lg){
        width: 90px;
    }
}
#logo:hover{
    transition: 1s;
    transform: scale(0.9);
}
#index-fondo{
    @include pantalla(xs){
        display: flex;
        width: 100vw;
        max-height: 70vh;
    }
}

.p1{
    @include pantalla(xs){
        color: $verde-principal;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    };
    @include pantalla(md){
        font-size: 1.3rem;
    }
}
.p2{
        
    @include pantalla(xs){
        color: $verde-principal;
        font-size: 1rem;
        padding: 1.5rem 0;
        text-align: center;
    };
    @include pantalla (md){
        font-size: 1.3rem;
    }
}
.containerUvas{
    @include pantalla(xs){
        overflow: hidden;
        height: 5rem;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    @include pantalla(md){
        height: 8rem;
    }
    
}
.uvas{
    @include pantalla(xs){
        object-fit: cover;
        max-width: 100vw;
        min-height: 18rem;
    }
}
#wpp{
    // display: flex;
    padding: 1rem;
    margin:35% 0 0 95%;
    z-index: 100;
    position: fixed;
    @include pantalla (xs){
        margin:80vh 0 0 82%;
        // width: 85vw;
        // height: 35%;
    }
    @include pantalla(sm){
        margin:80vh 0 0 88%;
        
    }
    @include pantalla (md){
        margin:80vh 0 0 95%;
        // background-color: aqua;
        // width: 95vw;
        // height: 50vh;
        // width: 93vw;
        // height: 46%;
    }
    .whatsapp{
        @include pantalla(xs){
            width: 30px;
        }
    }
    .whatsapp:hover {
        transition: 1s;
        transform: scale(1.3);    
    }
}
.title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    // background-color: $verde-pino;
    @include pantalla(xs){
        // padding: 1rem 0;
    }
    @include pantalla(md){
        // padding: 2rem 0;
        // margin: 2rem;
    }
    
}
.linea{
    color: $naranja-oscuro;
    background-color: $naranja-oscuro;
    height: 1px;
    @include pantalla(xs){
        width: 25%;
        margin: 0 1rem;
    }
    @include pantalla(md){
        margin: 0 3rem;
        width: 30%;
    }
}
