@import "variables", "mixins";
/* Inicia Footer*/

footer{    
    text-align: center;
    background-color: $verde-pino;
    @include pantalla(md){
        margin-top: 110px;
        display: grid;
        grid-template: repeat(2,auto)/repeat(2, auto);
        grid-template-areas: "info menuF" "footer footer";
        align-items: center;
    }  

    @include pantalla(lg){
        margin-top: 210px;
    }    
}

.LaFortaleza{
    @include pantalla(xs){
        padding-top: 7rem;
        color: $verde-principal;
        
    }

    @include pantalla(md){
        padding-top: 3rem;
        grid-area: info ;
        margin-left: 4rem;
    }

    @include pantalla(lg){
        padding-top: 5rem;
        margin-left: 6rem;
    }

    @include pantalla(xl){
        padding-top: 4rem;
        margin-left: 10rem;
    }

    #logoFooter{
        @include pantalla(xs){
            width: 6rem;
        };
        @include pantalla(md){
            width: 7rem;
        };
    }

    #logoFooter:hover{
        transition: 1s;
        transform: scale(0.9);
    
    }

    .p6{
        @include pantalla(xs){
            font-size: 1.1rem;
            padding: 1rem 0;
            font-weight: 300;
        }
        @include pantalla(md){
            font-size: 1.2rem;
        }
    }

    .p7{
        @include pantalla(xs){
            font-size:1rem;
            padding: .5rem 0 2.5rem;
            font-weight: 300;             
        }  
        @include pantalla(md){
            font-size: 1.2rem;
        } 
    }
}

.LaFortaleza hr{ 
    @include pantalla(xs){        
        height: 1.2px;
        border: none;
        color: $naranja-oscuro;
        background-color: $naranja-oscuro;
        width: 80px;
        margin-left: 155px;
    }  

    @include pantalla(md){        
        width: 85px;
        margin-left: 110px;
    }   

    @include pantalla(lg){      
        margin-left: 220px;
    }   

    @include pantalla(xl){      
        margin-left: 230px;
    }  
    

}

.menu{
    @include pantalla(xs){
        padding-bottom: 2rem;        
    }

    @include pantalla(md){
        padding: 1px 0px 20px;               
        grid-area: menuF;
        margin-right: 11rem;
        border-left: 1.2px solid $verde-principal;
        
    }

    @include pantalla(lg){
        padding: 20px 0px 10px; 
        margin-right: 20rem;             
    }

    @include pantalla(xl){
        margin-right: 30rem;             
    }
    
    li a{
        @include pantalla(xs){
            font-weight: 200;
            font-size: 1rem;
            color: $naranja-oscuro;
            text-decoration: none;
            line-height: 2px;
        };
         @include pantalla(md){
            line-height: 2.8rem;
            font-size: 1.1rem;
        }
    }
    li a:active{
        color: $naranja-oscuro;
    }
    li a:hover{        
        color: $verde-principal;
    }
}

.redesSociales{
    background-color: $verde-principal;
    padding: 13px;     
    @include pantalla(md){
        grid-area: footer;
    }         
             
             
}

.redesSociales a{
    text-decoration: none;
}

.redesSociales i{
    color: $verde-dark;
    font-size: 18px;
    text-decoration: none;
    padding: 15px; 
    @include pantalla(xl){
        margin-right: 60px;
    }   
}

.redesSociales i:hover{
    color: $naranja-oscuro;
    opacity: 0.7;
}


/* Finaliza Footer*/