$negro: #07080C;
$amarillo: #FDCA00;
$naranja-claro: #feae4f;
$naranja-oscuro: #ff5d02;
$verde-dark: #1c2723;
$verde-pino: #26362b; 
$verde-principal: #057f2a;
$blanco: #fff;

$medidas:(
    xs: 150px,
    sm: 399px,
    md: 768px, //Hasta acá en tamaño movil
    lg: 1024px,
    xl: 1328px,
);