/*Inicia Header Nosotros*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lexend Deca", "Urbanist", sans-serif;
}

body {
  background-color: #1c2723;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #263d2d;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #22492e;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.headNos {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#logo {
  position: absolute;
}
@media screen and (min-width: 150px) {
  #logo {
    padding-top: 0.6rem;
    margin-left: -1.5rem;
    width: 3.1rem;
    display: flex;
    z-index: 100;
  }
}
@media screen and (min-width: 768px) {
  #logo {
    width: 80px;
    margin-left: -2.8rem;
  }
}
@media screen and (min-width: 1024px) {
  #logo {
    width: 90px;
  }
}
@media screen and (min-width: 1328px) {
  #logo {
    width: 90px;
  }
}

#logo:hover {
  transition: 1s;
  transform: scale(0.9);
}

@media screen and (min-width: 150px) {
  #nosotros-fondo {
    display: flex;
    width: 100vw;
    max-height: 70vh;
    opacity: 0.8;
  }
}
@media screen and (min-width: 1024px) {
  #nosotros-fondo {
    max-height: 90vh;
  }
}
@media screen and (min-width: 1328px) {
  #nosotros-fondo {
    max-height: 95vh;
  }
}

@media screen and (min-width: 150px) {
  .circulo {
    background-color: #1c2723;
    position: absolute;
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #1c2723;
    margin: 4px;
    z-index: 2;
  }
}
@media screen and (min-width: 1328px) {
  .circulo {
    width: 90rem;
    height: 90rem;
  }
}
@media screen and (min-width: 768px) {
  .circulo {
    width: 90px;
    height: 90px;
  }
}
@media screen and (min-width: 1024px) {
  .circulo {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 150px) {
  .whatsapp {
    position: absolute;
    display: flex;
    margin-top: 14.5rem;
    margin-left: 168px;
    width: 15px;
    height: auto;
    z-index: 2;
  }
}
@media screen and (min-width: 768px) {
  .whatsapp {
    margin-top: 30rem;
    margin-left: 340px;
    width: 21px;
  }
}
@media (max-width: 600px) {
  .whatsapp {
    margin-top: 20rem;
    margin-left: 215px;
  }
}
@media (max-width: 980px) {
  .whatsapp {
    margin-top: 35rem;
    margin-left: 410px;
  }
}
@media screen and (min-width: 1024px) {
  .whatsapp {
    margin-top: 39.5rem;
    margin-left: 590px;
    width: 25px;
  }
}
@media screen and (min-width: 1328px) {
  .whatsapp {
    margin-top: 41rem;
    margin-left: 700px;
  }
}

.whatsapp:hover {
  transition: 1s;
  transform: scale(1.3);
}

/*Finaliza Header Nosotros*/
/*Inicia Carrusel Nosotros*/
/*Inicia Titulo Nosotros*/
.carrusel::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 150px) {
  .linea {
    margin: 20px 10px 0 10px;
    width: 130px;
    border-top: 1px solid #ff5d02;
    position: relative;
    top: 20px;
    float: left;
  }
}
@media (max-width: 300px) {
  .linea {
    margin: 20px 20px 0 15px;
    width: 60px;
  }
}
@media (max-width: 480px) {
  .linea {
    margin: 20px 10px 0 10px;
    width: 130px;
  }
}
@media (max-width: 600px) {
  .linea {
    margin: 20px 50px 0 50px;
    width: 120px;
  }
}
@media (max-width: 980px) {
  .linea {
    margin: 20px 100px 0 80px;
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .linea {
    margin: 30px 5px 30px 10px;
    width: 310px;
  }
}
@media screen and (min-width: 1024px) {
  .linea {
    margin: 30px 20px 50px 20px;
    width: 520px;
  }
}
@media screen and (min-width: 1328px) {
  .linea {
    margin: 30px 20px 50px 20px;
    width: 640px;
  }
}

@media screen and (min-width: 150px) {
  .leyenda {
    margin: 30px 10px 50px 10px;
    color: #ff5d02;
    font-weight: 300;
    float: left;
  }
}
@media screen and (min-width: 1024px) {
  .leyenda {
    margin: 35px 30px 50px 20px;
    font-size: 35px;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .leyenda {
    margin: 35px 5px 5px 5px;
    font-size: 20px;
    font-weight: 300;
  }
}
@media screen and (min-width: 1328px) {
  .leyenda {
    margin: 35px 30px 50px 20px;
    font-size: 25px;
    font-weight: 500px;
  }
}

/*Finaliza Titulo Nosotros*/
/*Inicia Carrusel*/
.contenedor-titulo-controles {
  display: flex;
  justify-content: center;
}

.contenedor-titulo-controles .indicadores button {
  background: #ff5d02;
  height: 2px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 5px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
  background: #057f2a;
}

.imagenes-recomendadas {
  margin-bottom: 70px;
}

.imagenes-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 150px) {
  .imagenes-recomendadas .contenedor-principal .flecha-izquierda,
.imagenes-recomendadas .contenedor-principal .flecha-derecha {
    border: none;
    background: none;
    font-size: 15px;
    height: 60%;
    top: 25%;
    line-height: 40px;
    width: 50px;
    color: #ff5d02;
    cursor: pointer;
    z-index: 500;
    transition: 0.2s ease all;
  }
}
@media screen and (min-width: 1024px) {
  .imagenes-recomendadas .contenedor-principal .flecha-izquierda,
.imagenes-recomendadas .contenedor-principal .flecha-derecha {
    font-size: 20px;
  }
}

.imagenes-recomendadas .contenedor-principal .flecha-izquierda:hover,
.imagenes-recomendadas .contenedor-principal .flecha-derecha:hover {
  opacity: 0.7;
  color: #057f2a;
}

.imagenes-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.imagenes-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

@media screen and (min-width: 150px) {
  .imagenes-recomendadas .contenedor-carousel {
    width: 200%;
    overflow: hidden;
    scroll-behavior: smooth;
  }
}
@media screen and (min-width: 1024px) {
  .imagenes-recomendadas .contenedor-carousel {
    width: 95%;
  }
}
@media screen and (min-width: 1328px) {
  .imagenes-recomendadas .contenedor-carousel {
    width: 100%;
  }
}

.imagenes-recomendadas .contenedor-carousel .carouselNos {
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (min-width: 150px) {
  .imagenes-recomendadas .contenedor-carousel .carouselNos .fortalezaNos {
    transition: 0.1s ease all;
    min-width: 50%;
    box-shadow: 5px 5px 10px black;
    opacity: 0.3;
  }
}
@media screen and (min-width: 1024px) {
  .imagenes-recomendadas .contenedor-carousel .carouselNos .fortalezaNos {
    min-width: 35%;
  }
}

.imagenes-recomendadas .contenedor-carousel .carouselNos .fortalezaNos.hover {
  transform-origin: center;
  opacity: 100%;
}

.imagenes-recomendadas .contenedor-carousel .carouselNos .fortalezaNos img {
  width: 100%;
  vertical-align: top;
}

/*Finaliza Carrusel*/
/*Inicia Separador Nosotros*/
.buttonWaap {
  position: absolute;
  overflow-y: hidden;
}

.fondo {
  background-color: #26362b;
  width: 100vw;
}

@media screen and (min-width: 150px) {
  .buttonWaap a {
    position: absolute;
    bottom: -27px;
    left: 10.5rem;
    background-color: #26362b;
    border-radius: 50%;
    width: 40px;
    height: 10px;
    padding: 20px;
    margin: 0;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 768px) {
  .buttonWaap a {
    bottom: -27px;
    left: 21rem;
    width: 70px;
    height: 50px;
    padding: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .buttonWaap a {
    bottom: -27px;
    left: 36.5rem;
    width: 75px;
    height: 50px;
    padding: 30px;
  }
}
@media screen and (min-width: 1328px) {
  .buttonWaap a {
    bottom: -27px;
    left: 43.5rem;
    width: 75px;
    height: 50px;
    padding: 30px;
  }
}

@media screen and (min-width: 150px) {
  .whatsapp2 {
    position: relative;
    z-index: 2;
    width: 15px;
    height: auto;
    margin-top: 85px;
    margin-left: 11.2rem;
  }
}
@media screen and (min-width: 768px) {
  .whatsapp2 {
    width: 21px;
    margin-top: 7.5rem;
    margin-left: 22.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .whatsapp2 {
    width: 25px;
    margin-top: 14rem;
    margin-left: 38rem;
  }
}
@media screen and (min-width: 1328px) {
  .whatsapp2 {
    margin-top: 14rem;
    margin-left: 45rem;
  }
}

.whatsapp2:hover {
  transition: 1s;
  transform: scale(1.3);
}

@media screen and (min-width: 150px) {
  .separadorNos {
    overflow: hidden;
    background-color: #26362b;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    opacity: 0.8;
  }
}
@media screen and (min-width: 768px) {
  .separadorNos {
    height: 8rem;
    width: 100vw;
  }
}
@media screen and (min-width: 1024px) {
  .separadorNos {
    height: 15rem;
    width: 100vw;
  }
}

/*Finaliza Separador Nosotros*/
/* Inicia seccion mision*/
.mision {
  background-color: #26362b;
}

@media screen and (min-width: 150px) {
  .contenedorValores {
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .contenedorValores {
    margin-left: 90px;
  }
}
@media screen and (min-width: 1328px) {
  .contenedorValores {
    margin-left: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 150px) {
  .mision .linea {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    width: 120px;
    border-top: 1px solid #ff5d02;
    position: relative;
    top: 20px;
    float: left;
  }
}
@media (max-width: 300px) {
  .mision .linea {
    width: 65px;
  }
}
@media screen and (min-width: 768px) {
  .mision .linea {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 270px;
  }
}
@media screen and (min-width: 1024px) {
  .mision .linea {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
  }
}

@media screen and (min-width: 150px) {
  .mision .leyenda {
    margin: 10px 0 10px 0;
    color: #ff5d02;
    font-weight: 250;
    float: left;
  }
}
@media screen and (min-width: 768px) {
  .mision .leyenda {
    margin: 25px 0 10px 0;
    font-size: 20px;
    font-weight: 250;
  }
}
@media screen and (min-width: 1024px) {
  .mision .leyenda {
    margin: 50px 0 10px 0;
    font-size: 22px;
    font-weight: 250;
  }
}
@media screen and (min-width: 1328px) {
  .mision .leyenda {
    margin: 40px 0 10px 0;
    font-size: 25px;
    font-weight: 250;
  }
}

@media screen and (min-width: 150px) {
  .texto p {
    color: #ff5d02;
    background-color: #26362b;
    font-weight: 200;
    font-size: 13px;
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 300px) {
  .texto p {
    font-size: 11px;
  }
}
@media (max-width: 980px) {
  .texto p {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .texto p {
    font-size: 15px;
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .texto p {
    text-align: center;
    font-size: 15px;
    padding: 40px;
  }
}

.buttonImg {
  position: absolute;
  overflow-y: hidden;
}

.valores {
  background-color: #26362b;
}
@media screen and (min-width: 1024px) {
  .valores {
    display: flex;
    flex-wrap: nowrap;
    height: 24rem;
  }
}

@media screen and (min-width: 150px) {
  .imagen2 {
    width: 100vw;
    height: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .imagen2 {
    width: 5rem;
    height: 17rem;
  }
}
@media screen and (min-width: 1328px) {
  .imagen2 {
    width: 0;
    height: 17rem;
  }
}

@media screen and (min-width: 150px) {
  .buttonImg a {
    position: absolute;
    bottom: 50px;
    left: 4.4rem;
    background-color: #26362b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 20px;
    overflow-y: hidden;
  }
}
@media (max-width: 300px) {
  .buttonImg a {
    left: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .buttonImg a {
    bottom: 90px;
    left: 10rem;
    width: 60px;
    height: 60px;
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .buttonImg a {
    bottom: 108px;
    left: 5.3rem;
    width: 75px;
    height: 50px;
    padding: 40px;
  }
}
@media screen and (min-width: 1328px) {
  .buttonImg a {
    bottom: 110px;
    left: 8rem;
  }
}

@media screen and (min-width: 150px) {
  .iconoMas {
    position: relative;
    z-index: 2;
    width: 18px;
    height: auto;
    margin-top: 62px;
    margin-left: 5rem;
  }
}
@media (max-width: 300px) {
  .iconoMas {
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .iconoMas {
    position: absolute;
    width: 25px;
    margin-top: 113px;
    margin-left: 11rem;
  }
}
@media screen and (min-width: 1024px) {
  .iconoMas {
    width: 30px;
    margin-top: 10.4rem;
    margin-left: 7rem;
  }
}
@media screen and (min-width: 1328px) {
  .iconoMas {
    margin-top: 10rem;
    margin-left: 9.5rem;
  }
}

.iconoMas:hover {
  transition: 1s;
  transform: scale(1.3);
}

@media screen and (min-width: 150px) {
  .imgValores {
    overflow: hidden;
    height: 8.5rem;
    width: auto;
    margin-left: 5.5rem;
    margin-top: 0;
    opacity: 0.8;
    border-radius: 10px;
  }
}
@media (max-width: 300px) {
  .imgValores {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .imgValores {
    height: 15rem;
    margin-left: 12rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .imgValores {
    height: 18rem;
    width: auto;
    margin-left: 8rem;
    margin-top: 35px;
  }
}
@media screen and (min-width: 1328px) {
  .imgValores {
    margin-left: 10.5rem;
  }
}

/* finaliza seccion mision*/
/* Inicia seccion vision*/
@media screen and (min-width: 150px) {
  .contenedorValores2 {
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .contenedorValores2 {
    margin-right: 90px;
  }
}
@media screen and (min-width: 1328px) {
  .contenedorValores2 {
    margin-right: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 150px) {
  .mision2 .linea {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    width: 120px;
    border-top: 1px solid #057f2a;
    position: relative;
    top: 20px;
    float: left;
  }
}
@media screen and (min-width: 768px) {
  .mision2 .linea {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 270px;
  }
}
@media screen and (min-width: 1024px) {
  .mision2 .linea {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
  }
}

@media screen and (min-width: 150px) {
  .mision2 .leyenda {
    margin: 30px 0 10px 0;
    color: #057f2a;
    font-weight: 250;
    float: left;
  }
}
@media screen and (min-width: 768px) {
  .mision2 .leyenda {
    margin: 45px 0 10px 0;
    font-size: 20px;
    font-weight: 250;
  }
}
@media screen and (min-width: 1024px) {
  .mision2 .leyenda {
    margin: 65px 0 10px 0;
    font-size: 22px;
    font-weight: 250;
  }
}
@media screen and (min-width: 1328px) {
  .mision2 .leyenda {
    margin: 65px 0 10px 0;
    font-size: 25px;
    font-weight: 250;
  }
}

@media screen and (min-width: 150px) {
  .texto2 p {
    color: #057f2a;
    font-weight: 200;
    font-size: 13px;
    text-align: center;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .texto2 p {
    font-size: 15px;
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .texto2 p {
    text-align: center;
    font-size: 15px;
    padding: 20px;
  }
}

.buttonImg2 {
  position: absolute;
  overflow-y: hidden;
}

@media screen and (min-width: 1024px) {
  .valores2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 24rem;
  }
}

@media screen and (min-width: 150px) {
  .imagen3 {
    margin-top: 10px;
    width: 100vw;
    height: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .imagen3 {
    margin-top: 10px;
    width: 5rem;
    height: 17rem;
  }
}
@media screen and (min-width: 1024px) {
  .imagen3 {
    width: 0;
    height: 17rem;
  }
}

@media screen and (min-width: 150px) {
  .buttonImg2 a {
    position: absolute;
    bottom: 48px;
    left: 16.8rem;
    background-color: #1c2723;
    border-radius: 50%;
    width: 40px;
    height: 10px;
    padding: 20px;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 768px) {
  .buttonImg2 a {
    bottom: 85px;
    left: 32.5rem;
    width: 60px;
    height: 60px;
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .buttonImg2 a {
    bottom: 92px;
    left: 32.5rem;
    width: 75px;
    height: 50px;
    padding: 40px;
  }
}
@media screen and (min-width: 1328px) {
  .buttonImg2 a {
    bottom: 95px;
    left: 39.5rem;
  }
}

@media screen and (min-width: 150px) {
  .iconoMas2 {
    position: relative;
    z-index: 2;
    width: 18px;
    height: auto;
    margin-top: 62px;
    margin-left: 17.6rem;
  }
}
@media screen and (min-width: 768px) {
  .iconoMas2 {
    position: absolute;
    width: 25px;
    margin-top: 117px;
    margin-left: 33.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .iconoMas2 {
    width: 30px;
    margin-top: 12.3rem;
    margin-left: 34rem;
  }
}
@media screen and (min-width: 1328px) {
  .iconoMas2 {
    margin-top: 12rem;
    margin-left: 41rem;
  }
}

.iconoMas2:hover {
  transition: 1s;
  transform: scale(1.3);
}

@media screen and (min-width: 150px) {
  .imgValores2 {
    overflow: hidden;
    height: 8.5rem;
    width: 13rem;
    margin-left: 5.5rem;
    margin-top: 0;
    opacity: 0.8;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .imgValores2 {
    height: 15rem;
    width: 22.5rem;
    margin-left: 12rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .imgValores2 {
    height: 18rem;
    width: 26.5rem;
    margin-left: 8rem;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1328px) {
  .imgValores2 {
    margin-left: 15rem;
  }
}

/* finaliza seccion vision*/
/*Inicia Valores*/
.valoresTex {
  color: #ff5d02;
  text-align: center;
}
@media screen and (min-width: 150px) {
  .valoresTex {
    font-weight: 200;
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .valoresTex {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .valoresTex {
    font-size: 15px;
  }
}

.mision3 {
  background-color: #26362b;
}

@media screen and (min-width: 150px) {
  .mision3 .linea {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    width: 113px;
    border-top: 1px solid #ff5d02;
    position: relative;
    top: 20px;
    float: left;
  }
}
@media screen and (min-width: 768px) {
  .mision3 .linea {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    width: 260px;
  }
}
@media screen and (min-width: 1024px) {
  .mision3 .linea {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .mision3 .linea {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
  }
}

@media screen and (min-width: 150px) {
  .mision3 .leyenda {
    margin: 30px 0 10px 0;
    color: #ff5d02;
    font-weight: 250;
    float: left;
  }
}
@media screen and (min-width: 768px) {
  .mision3 .leyenda {
    margin: 45px 0 10px 0;
    font-size: 20px;
    font-weight: 250;
  }
}
@media screen and (min-width: 1024px) {
  .mision3 .leyenda {
    margin: 50px 0 10px 0;
    font-size: 22px;
    font-weight: 250;
  }
}
@media screen and (min-width: 1328px) {
  .mision3 .leyenda {
    margin: 40px 0 10px 0;
    font-size: 25px;
    font-weight: 250;
  }
}

@media screen and (min-width: 150px) {
  .imagen4 {
    margin-top: 20px;
    width: 100vw;
    height: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .imagen4 {
    margin-top: 20px;
    width: 5rem;
    height: 17rem;
  }
}
@media screen and (min-width: 768px) {
  .imagen4 {
    width: 0;
    height: 17rem;
  }
}

.buttonWaap2 {
  position: absolute;
  overflow-y: hidden;
}

.fondo2 {
  background-color: #26362b;
  width: 100vw;
}

@media screen and (min-width: 150px) {
  .buttonWaap2 a {
    position: absolute;
    bottom: 70px;
    left: 10.5rem;
    background-color: #26362b;
    border-radius: 50%;
    width: 40px;
    height: 10px;
    padding: 20px;
    margin: 0;
    overflow-y: hidden;
  }
}
@media screen and (min-width: 768px) {
  .buttonWaap2 a {
    bottom: 98px;
    left: 21rem;
    width: 60px;
    height: 50px;
    padding: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .buttonWaap2 a {
    bottom: 209px;
    left: 36.5rem;
    width: 75px;
    height: 50px;
    padding: 30px;
  }
}
@media screen and (min-width: 1328px) {
  .buttonWaap2 a {
    bottom: 209px;
    left: 43.5rem;
    width: 75px;
    height: 50px;
    padding: 30px;
  }
}

@media screen and (min-width: 150px) {
  .whatsapp3 {
    position: relative;
    z-index: 2;
    width: 15px;
    height: auto;
    margin-top: 2px;
    margin-left: 11.4rem;
  }
}
@media screen and (min-width: 768px) {
  .whatsapp3 {
    width: 21px;
    margin-top: 0.3rem;
    margin-left: 22.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .whatsapp3 {
    width: 25px;
    margin-top: 1.6rem;
    margin-left: 38rem;
  }
}
@media screen and (min-width: 1328px) {
  .whatsapp3 {
    margin-top: 1.5rem;
    margin-left: 45rem;
  }
}

.whatsapp3:hover {
  transition: 1s;
  transform: scale(1.3);
}

@media screen and (min-width: 150px) {
  .separadorNos2 {
    overflow: hidden;
    background-color: #26362b;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    opacity: 0.8;
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .separadorNos2 {
    height: 8rem;
    width: 100vw;
  }
}
@media screen and (min-width: 1024px) {
  .separadorNos2 {
    height: 15rem;
    width: 100vw;
    margin-top: 40px;
  }
}

/*Finaliza Valores*/
/* Inicia Footer*/
footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer {
    margin-top: 110px;
    display: grid;
    grid-template: repeat(2, auto)/repeat(2, auto);
    grid-template-areas: "info menuF" "footer footer";
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 210px;
  }
}

@media screen and (min-width: 150px) {
  .LaFortaleza {
    padding-top: 7rem;
    color: #057f2a;
  }
}
@media screen and (min-width: 768px) {
  .LaFortaleza {
    padding-top: 3rem;
    grid-area: info;
    margin-left: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .LaFortaleza {
    padding-top: 5rem;
    margin-left: 6rem;
  }
}
@media screen and (min-width: 1328px) {
  .LaFortaleza {
    padding-top: 4rem;
    margin-left: 10rem;
  }
}
@media screen and (min-width: 150px) {
  .LaFortaleza #logoFooter {
    width: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .LaFortaleza #logoFooter {
    width: 7rem;
  }
}
.LaFortaleza #logoFooter:hover {
  transition: 1s;
  transform: scale(0.9);
}
@media screen and (min-width: 150px) {
  .LaFortaleza .p6 {
    font-size: 1.1rem;
    padding: 1rem 0;
    font-weight: 300;
  }
}
@media screen and (min-width: 768px) {
  .LaFortaleza .p6 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 150px) {
  .LaFortaleza .p7 {
    font-size: 1rem;
    padding: 0.5rem 0 2.5rem;
    font-weight: 300;
  }
}
@media screen and (min-width: 768px) {
  .LaFortaleza .p7 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 150px) {
  .LaFortaleza hr {
    height: 1.2px;
    border: none;
    color: #ff5d02;
    background-color: #ff5d02;
    width: 80px;
    margin-left: 155px;
  }
}
@media screen and (min-width: 768px) {
  .LaFortaleza hr {
    width: 85px;
    margin-left: 110px;
  }
}
@media screen and (min-width: 1024px) {
  .LaFortaleza hr {
    margin-left: 220px;
  }
}
@media screen and (min-width: 1328px) {
  .LaFortaleza hr {
    margin-left: 230px;
  }
}

@media screen and (min-width: 150px) {
  .menu {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    padding: 1px 0px 20px;
    grid-area: menuF;
    margin-right: 11rem;
    border-left: 1.2px solid #057f2a;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    padding: 20px 0px 10px;
    margin-right: 20rem;
  }
}
@media screen and (min-width: 1328px) {
  .menu {
    margin-right: 30rem;
  }
}
@media screen and (min-width: 150px) {
  .menu li a {
    font-weight: 200;
    font-size: 1rem;
    color: #ff5d02;
    text-decoration: none;
    line-height: 2px;
  }
}
@media screen and (min-width: 768px) {
  .menu li a {
    line-height: 2.8rem;
    font-size: 1.1rem;
  }
}
.menu li a:active {
  color: #ff5d02;
}
.menu li a:hover {
  color: #057f2a;
}

.redesSociales {
  background-color: #057f2a;
  padding: 13px;
}
@media screen and (min-width: 768px) {
  .redesSociales {
    grid-area: footer;
  }
}

.redesSociales a {
  text-decoration: none;
}

.redesSociales i {
  color: #1c2723;
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
}
@media screen and (min-width: 1328px) {
  .redesSociales i {
    margin-right: 60px;
  }
}

.redesSociales i:hover {
  color: #ff5d02;
  opacity: 0.7;
}

/* Finaliza Footer*/
/* Inicia Menu*/
#menu-bar {
  display: none;
}

.icon-menu {
  font-size: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

.menu-nav {
  text-align: center;
  position: fixed;
  z-index: 1;
  padding-top: 1rem;
  left: 0;
  width: 30%;
  height: 100vh;
  background: #1c2723;
  opacity: 0.8;
  transition: all 0.5s;
  transform: translateX(-100%);
}

.menu-nav a {
  display: block;
  color: #ff5d02;
  text-decoration: none;
  padding: 20px;
  overflow-y: hidden;
}

.menu-nav a:hover {
  color: #057f2a;
}

#menu-bar:checked ~ .menu-nav {
  transform: translateX(0%);
}

@media screen and (min-width: 768px) {
  .menu-nav {
    position: static;
    width: 100vw;
    padding-top: 1.4rem;
    height: auto;
    transform: translate(0%);
    justify-content: space-around;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  header label {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-nav a {
    border: none;
  }
}

.containerMenu {
  width: 100%;
  display: table;
  color: #ff5d02;
  position: absolute;
  z-index: 2;
}

/* Finaliza Menu*/

/*# sourceMappingURL=nosotros.css.map */
